In [6]:
import psycopg2
import pandas as pd

In [14]:
# conn = psycopg2.connect(dbname='datadl', user='airflow', password='airflow', 
#                         host='2607:fea8:6e1:ea00:75d8:a510:8208:55b1', port='5432')
conn = psycopg2.connect(dbname='datadl', user='airflow', password='airflow', 
                        host='10.0.0.153', port='5432')

In [15]:
def execute_sql_ppg2(query, conn):
    print('Executing SQL Query & Fetching Results...')
    db_cursor = conn.cursor()
    db_cursor.execute(query)
    records = db_cursor.fetchall()
    return records

def create_df_from_ppg2(query, conn):
    print('Executing SQL Query & Saving To DataFrame...')
    return pd.read_sql_query(query, conn)

def create_table_ppg2(df, conn, table_name, schema_name):
    df.to_sql(con=conn, name=table_name, schema=schema_name, if_exists='replace',index=False)

In [16]:
df = create_df_from_ppg2("select * from stock_price_minute where ticker = 'TSLA' limit 5", conn)

Executing SQL Query & Saving To DataFrame...

/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [17]:
df

,ticker,date_time,open_price,high_price,low_price,close_price,volume,vwap,transactions,otc
0,TSLA,2020-01-02 09:00:00+00:00,28.0607,28.0667,28.0607,28.0667,19755.0,28.0488,31,None
1,TSLA,2020-01-02 09:03:00+00:00,28.1380,28.1667,28.1380,28.1667,13920.0,28.1480,23,None
2,TSLA,2020-01-02 09:04:00+00:00,28.1440,28.1440,28.1440,28.1440,5340.0,28.1484,12,None
3,TSLA,2020-01-02 09:07:00+00:00,28.2000,28.2000,28.2000,28.2000,3015.0,28.1997,5,None
4,TSLA,2020-01-02 09:14:00+00:00,28.1687,28.1687,28.1687,28.1687,2400.0,28.1686,3,None